.notificationcontainersection {
  /* padding: 30px; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px rgba(30, 30, 30, 0.1);
  margin-bottom: 20px;
}

.notificationcontainersection .notificationsection {
  margin-bottom: 0px;
  padding: 30px 20px;
}

.notificationcontainersection .notificationsection:hover {
background-color: #fde7ed;
}

.notificationcontainersection .notificationsection .imagesection {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee2e61;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notificationcontainersection .notificationsection .imagesection img {
  width: 24px;
}

.notificationcontainersection .notificationsection:last-child {
  margin-bottom: 0px;
}

.notificationsection h3 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.notificationsection h5 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.notificationsection h6 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.notification-primary-text {
  font-size: 24px;
}

.notificationsectionhorizontalline {
  margin: 0px 30px;
}